# Build
bin/
obj/

# Visual Studio
#.vs/
#*.user
#*.suo

# Logs
# *.log

# Secrets
# appsettings.Development.json
# .env

# Rider / VSCode
#.idea/
#.vscode/

# OS
.DS_Store
Thumbs.db

# Publish
# publish/